.card.entry-post {
  margin-bottom: 10px;
}
.myBlog .card-img-top {
  height: 220px;
  width: -webkit-fill-available;
}
.myBlog > .card-body {
  padding-bottom: 2px;
}
.display1x {
  font-weight: 300;
  font-size: xx-large;
  opacity: 0.5;
}
