<section class="contact-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <div class="contact-text">
                    <div class="contact-form" style="max-width: 500px;margin:auto">
                        <div class="border-success">
                            <h1 class="display-4">Success</h1>
                            <p class="lead">Thank You, You email has been verified successfully, Login to start use blogry.</p>
                            <!-- <hr class="my-4">
                            <p>We will get back to you within 24 to 48 hours.</p> -->
                            <p class="lead">
                              <a class="btn btn-primary btn-lg" (click)="globalServe.toggle.next(true)" role="button">Login Now</a>
                            </p>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>