
        <div class="shoping-cart dropdown notification-dropdown">
          <a class="shoping-cart-btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right notifications" role="menu" aria-labelledby="dLabel">

            <div class="notification-heading">
              <h4 class="menu-title">Notifications</h4>
              <!-- <h4 class="menu-title float-right" routerLink="/p/notification">View all<i class="fa fa-arrow-circle-right"></i></h4> -->
            </div>
            <li class="divider"></li>
            <div class="notifications-wrapper">
              <a class="content" href="#">

                <div class="notification-item">
                  <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                  <p class="item-info small">Marketing 101, Video Assignment</p>
                </div>

              </a>
              <a class="content" href="#">
                <div class="notification-item">
                  <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
                  <p class="item-info small">Marketing 101, Video Assignment</p>
                </div>
              </a>
              <a class="content" href="#">
                <div class="notification-item">
                  <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                  <p class="item-info small">Marketing 101, Video Assignment</p>
                </div>
              </a>
              <a class="content" href="#">
                <div class="notification-item">
                  <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                  <p class="item-info small">Marketing 101, Video Assignment</p>
                </div>

              </a>
              <a class="content" href="#">
                <div class="notification-item">
                  <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                  <p class="item-info small">Marketing 101, Video Assignment</p>
                </div>
              </a>
              <a class="content" href="#">
                <div class="notification-item">
                  <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
                  <p class="item-info small">Marketing 101, Video Assignment</p>
                </div>
              </a>

            </div>
            <li class="divider"></li>
            <div class="notification-footer">
              <h4 class="menu-title" routerLink="/p/notification">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4>
            </div>
          </ul>
        </div>
