
    <div class="container pt-4 pb-4">

      <div class="row mt-3">
        <div class="col-12">
          <div class="row p-3">
            <div style="max-width: 400px;">
              <p style="font-size: 2.5rem;line-height: 1;font-weight: 300;">Transactions</p>
              <!-- <span>Control and analyse data in the easiest way</span> -->
            </div>
          </div>
        </div>
        <div class="col-12">

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" style="width: 100%;">
              <ng-container matColumnDef="order_id">
                <th mat-header-cell *matHeaderCellDef> Order ID </th>
                <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
              </ng-container>
              <ng-container matColumnDef="payment_id">
                <th mat-header-cell *matHeaderCellDef> Payment ID </th>
                <td mat-cell *matCellDef="let element"> {{element.payment_id}} </td>
              </ng-container>
              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date:"mediumDate"}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 35, 50]" showFirstLastButtons></mat-paginator>
          </div>


        </div>

      </div>
    </div>