<footer>
  <div class="footer-copyright-area">
    <!-- <div class="container container-1360"> -->
      <!-- <div class="row align-items-center text-center"> -->
          <div class="copyright-text text-center mb-3 minifooterText">
            <p><a routerLink="/terms-and-conditions" class="mx-2">Terms</a> | <a routerLink="/privacy-policy" class="mx-2">Privacy</a></p>
          </div>
          <div class="copyright-text text-center">
            <p><span>Copyright</span> - {{currentYear | date:'Y'}} Blogry</p>
          </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</footer>
