<section class="contact-section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 mb-4">
                <h2 class="text-center">Reset Password.</h2>
            </div>
            <div class="col-12" *ngIf="isPasswordReset">
                <div class="contact-text">
                    <div class="contact-form" style="max-width: 500px;margin:auto">
                        <div class="border-success">
                            <h1 class="display-4">Success</h1>
                            <p class="lead">Your password has been reset successfully.</p>
                            <!-- <hr class="my-4">
                            <p>We will get back to you within 24 to 48 hours.</p> -->
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" (click)="globalServe.toggle.next(true)"
                                    role="button">Login Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="isPasswordResetError">
                <div class="contact-text">
                    <div class="contact-form" style="max-width: 500px;margin:auto">
                        <div class="border-success">
                            <h1 class="display-4">Error</h1>
                            <p class="lead">There is some error resetting your password.</p>
                            <!-- <hr class="my-4">
                            <p>We will get back to you within 24 to 48 hours.</p> -->
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" (click)="globalServe.toggle.next(true)"
                                    role="button">Get reset again</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="contact-text">
                    <div class="contact-form" style="max-width: 500px;margin:auto">
                        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmitReset()">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label>Password *</label>
                                    <input type="password" formControlName="password" required>
                                    <label class="text-danger"
                                        *ngIf="passwordResetForm.errors?.required && (passwordResetForm.controls['password'].dirty || passwordResetForm.controls['password'].touched)">
                                        Password
                                    </label>
                                </div>
                                <!-- <div class="col-12 mb-3">
                                    <label class="text-danger">Password</label>
                                </div> -->
                                <div class="col-12 mb-3">
                                    <label>Confirm Password *</label>
                                    <input type="password" formControlName="password_confirm" required>
                                    <label class="text-danger"
                                        *ngIf="passwordResetForm.errors?.mismatch && (passwordResetForm.controls['password_confirm'].dirty || passwordResetForm.controls['password_confirm'].touched)">
                                        Passwords don't match.
                                    </label>
                                </div>
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn-block">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>