<router-outlet></router-outlet>
<!-- <div class="dashboard">
  <div class="miniSidebar">

  </div>
  <div class="mainDiv">
    <div class="container pt-4 pb-4">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="row p-3">
            <div style="max-width: 400px;">
              <p style="font-size: 2.5rem;line-height: 1;font-weight: 300;">Monitor health of your business</p>
              <span>Control and analyse data in the easiest way</span>
            </div>
          </div>
          <div class="row text-white">

            <div class="col-md-4 col-sm-12">
              <div class="card card1">
                <div class="card-body">
                  <span class="card-top">Views <span class="card-icon"><i class="fas fa-briefcase"></i></span></span>
                  <span class="card-bottom"><span class="card-number">31</span> +3 last day</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card card2">
                <div class="card-body">
                  <span class="card-top">Clients <span class="card-icon"><i class="fas fa-briefcase"></i></span></span>
                  <span class="card-bottom"><span class="card-number">63</span> +7 last day</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="card card3">
                <div class="card-body">
                  <span class="card-top">Purchases <span class="card-icon"><i class="fas fa-briefcase"></i></span></span>
                  <span class="card-bottom"><span class="card-number">10</span> +1 last day</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->