<footer>
  <div class="footer-widgets-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="widget address-widget">
            <h4 class="widget-title">Our Address</h4>
            <p>
              Sydney, Australia Sheen Darus Salam. <br />
              112/B, Road 8A, Dhanmondi.
            </p>
            <p>
              +880-036987458765521 <br />
              example@yourmail.com
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="widget nav-widget">
            <h4 class="widget-title">Quick Links</h4>
            <ul>
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              <li><a routerLink="/terms-and-conditions">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6">
          <div class="widget nav-widget">
            <h4 class="widget-title">Follow Us</h4>
            <ul>
              <li><a routerLink="#">Twitter</a></li>
              <li><a routerLink="#">Facebook</a></li>
              <li><a routerLink="#">Instagram</a></li>
              <li><a routerLink="#">Youtube</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 ml-auto">
          <div class="widget newsletter-widget">
            <h4 class="widget-title">Our Monthly Newsletter</h4>
            <p>Sign Up TO Get Updates On Articles, Interviews And Events.</p>
            <form [formGroup]="subscribeForm" (ngSubmit)="subscribeSubmit()">
              <input type="email" formControlName="email" placeholder="your email" />
              <button type="submit">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright-area">
    <div class="container container-1360">
      <div class="row align-items-center">
        <div class="col-lg-6 col-12">
          <div class="social-links">
            <ul>
              <li class="title">Support</li>
              <li><a routerLink="/faq">FAQ</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-12">
          <div class="social-links">
            <ul>
              <li class="title">Follow Me</li>
              <li><a routerLink="#">Twitter</a></li>
              <li><a routerLink="#">Facebook</a></li>
              <li><a routerLink="#">Youtube</a></li>
              <li><a routerLink="#">Instagram</a></li>
              <li><a routerLink="#">Linkedin</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-lg-6 col-12">
          <div class="copyright-text text-lg-right">
            <p><span>Copyright</span> - {{currentYear | date:'Y'}} Blogry</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
