<section class="pageTitle">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col">
        <h2 class="pageHeading">What is Blogry?</h2>
      </div>
    </div>
  </div>
</section>
<section class="about-section aboutMain">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 col-sm-12">
        <div class="about-text whatIsBlogry">
          <p>
            Blogry is the site that provide an opportunity to various talented people out there who can write blogs but face problems in writing due to professional or personal reasons. The idea behind the blogry was to provide a social platform to the people who can write or express their feelings, opinions and thoughts in a form of blog with the people all over the world.
          </p>
          <!-- <p class="aboutSubtitle">Blogry's Awesome Team Members</p> -->
          <p>
            Blogry came into existence on 6th June 2020 as a normal blog website, later on 9th november 2020 it was change into a blogging platform where each and every person can write a blog for free and can earn money through blogs.
          </p>
          <!-- <p>
            As more and more organizations think and act "global", TERA continues to establish networks and logistics
            infrastructure across Asia and beyond to remain as a total logistics provider.
          </p> -->
          <!-- <ul class="social-links">
            <li><span>Follow Me :</span></li>
            <li><a href="#"><i class="fab fa-behance"></i></a></li>
            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="about-img">
          <img src="../../../../assets/img/defaults/aboutus.jpeg" alt="Blogry">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section about2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="about-text">
          <p class="title">What is the aim behind Blogry?</p>
          <p>
            The main aim behind blogry is to provide people a platform where they can express their thoughts freely in a form of blog and where they can earn money through those blogs. In Blogry people can promote their businesses,there affiliate links, there YouTube videos and much more through the blogs. Here we also provide a feature of One page website for free that anyone can make in the blogry.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section teamMembers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="about-text">
          <p class="title text-center">Team Members</p>

          <div class="row align-items-center justify-content-center">

            <div class="col-sm-12 col-md-4">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../../../assets/img/defaults/member.jpg" alt="Team Member">
                </div>
                <div class="col-md-8">
                  <div class="team-body">
                    <h5 class="teamLabel"><span>Name:</span> Neha Sharma</h5>
                    <p>
                      We are here to provide the best of the individuals to carry out your work with ease.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../../../assets/img/defaults/member.jpg" alt="Team Member">
                </div>
                <div class="col-md-8">
                  <div class="team-body">
                    <h5 class="teamLabel"><span>Name:</span> Nisha Kumari</h5>
                    <p>
                      We are here to provide the best of the individuals to carry out your work with ease.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../../../assets/img/defaults/member.jpg" alt="Team Member">
                </div>
                <div class="col-md-8">
                  <div class="team-body">
                    <h5 class="teamLabel"><span>Name:</span> Angela</h5>
                    <p>
                      We are here to provide the best of the individuals to carry out your work with ease.
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
